body {
	background-image: url("../resource/cook_background.jpg");
}

.nav {
	text-align: center;
	background-color: #996633;
	color: white;
	text-align: center;
	padding: 7px;
}

.nav a {
	color: white ;
	text-decoration: none;
}

.nav a:hover {
	color: yellow;
	}


h2 {
	text-align: center;
}

figure {
	margin-left: 0px;
	text-align: center;
}

footer {
	position: all;
	background-color: #996633;
	color: white;
	text-align: center;
	padding: 7px;
	clear: both;
}

main {
	text-align: center;
	width: 500px;
	font-size: 20px;
	font-family: cursive;
	margin: 0 auto;
}

#button {
	background-color: #ffff1a;
	font-size: 15px;
	padding: 15px;
	cursor: pointer;
	border-radius: 10%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

///////////////////////////////////////////////////////////////////

 //second page CSS

.container {
	display: flex;  
	flex-flow: row wrap;
	text-align: center;
}

.container > * {
	padding: 25px;
	flex: 1 100%;
}

.main {
	text-align: left;
	background-color: #f9e1a7;
	max-width: 100%;
	margin: 0 auto;
	margin-left: 20px;
	overflow: hidden;
	border: 5px solid #00767C;
	float: left;
	text-align: left;
	max-width: 700px;
	overflow: hidden;
}

body {
	background-image: url("../resource/cook_background.jpg");
}
 h2 {
 		font-family: cursive;
 	}

 ul {
 	font-weight: bold;
 	font-size: 20px;
 }

 li {
 	margin-left: -15px;
 }

#second_page_aside {
		overflow: hidden;
		background-color: #f7ae6f;
		float: left;
		margin: 0 auto;
}

.side-nav {
	margin: 0px auto;
	max-width: 290px;
	float: left;
}


.rating {
	float: left;
	text-align: center;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}


.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

label:hover {
	background-color: yellow
	color: yellow;
	transform: scale(2);
}


 .button {
 	-webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    text-align: center;
 }

