h1 {
	background-color: purple;
	color: pink;
	text-align: center;
}

img {
	width: 200px;
	height: 200px;
}

.dog11 {
	border-radius: 20%

}

.dog22 {
	border: 10px solid red;
	
}

.dog33 {
	
}

.dog44 {
	
}

.dog55 {
	
}

.dog66 {
	
}

.dog77 {
	
}

.dog88 {
	
}