header {
	text-align: center;
	font-family: sans-serif;
	background: #6ab47b;
	color: white;
	margin: 2px;
	line-height: 2em;
	padding: 2px;
	border-radius: 10%;
}

aside {
  float: left;
  max-width: 50%;
  border: 5px solid #105D2A ;
  background-color: #AEDE94;
  margin-left: 0px;
  padding: 2%;
  column-width: 260px;
  clear: left;
}

nav {
	float: left;
	max-width: 160px;
    padding: 1em;
    margin: 0;
}

nav img {
	border: 2px solid darkgrey;
	margin-left: 170px;
	margin-top: -45px;
	overflow: all;
}

nav ul {
	margin-right:  10px;
	padding-left: 10px;
	color: green;
	margin: 10px;
	margin-bottom: 343.5px;
}

nav div {
	margin-top: 100px;
	padding-right: -50px;
}
nav a:hover {
	color: green;
}

nav a:visited {	color: green;
}

a {
	text-decoration: none;
	color: white;
} 

main {
	background-color: #689D99;
	max-width: 75%;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	border: 5px solid #00767C;
}

p {
	text-orientation: all;
}

main img {
	width: 300px;
	height: 300px;
}

figure {
	text-align: center;
}

 footer {
 	background: #0F5A32;
 	text-align: center;
 	line-height: 10px;
 	color: white;
 	padding: 5px;
 	margin-top : 2px;
 	clear: both;
}

footer img {
	width: 40px;
	height: 40px;
	padding: 2px;
	border-radius: 20%;
	margin-top: 5px;
}